body {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: paleturquoise;
}

.btn {
  height: 200px;
  width: 200px;
  border-radius: 30%;
  border: 10px solid black;
  margin: 2.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.purple {
  background-color: orangered;
}

.green {
  background-color: orange;
}

.flash {
  background-color: white;
}

.userflash {
  background-color: green;
}